@model IEnumerable<IMASD.nomina>

@{
    ViewBag.Title = "Index";
}

<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Nominas </h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item active" aria-current="page">Nominas</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0">Lista de Nominas</h3>
                        </div>
                        <div class="col text-right">
                            @Html.ActionLink("Crear nuevo", "Create", "Nomina", null, new { @class = "btn btn-sm btn-primary" })
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <!-- Projects table -->
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">@Html.DisplayNameFor(model => model.descripcion)</th>
                                <th scope="col">@Html.DisplayNameFor(model => model.inicio_n)</th>
                                <th scope="col">@Html.DisplayNameFor(model => model.fin_n)</th>
                                <th scope="col">@Html.DisplayNameFor(model => model.status)</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th scope="row">
                                        @Html.DisplayFor(modelItem => item.descripcion)
                                    </th>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.inicio_n)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.fin_n)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.status)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.nominaId }) |
                                        @Html.ActionLink("Pago de nommina", "Pago", new { id = item.nominaId }) |
                                        @if (item.status != "Completada")
                                        {
                                            @Html.ActionLink("Delete", "Delete", new { id = item.nominaId })
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <hr />
    <footer class="footer pt-0">
        <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
    </footer>
</div>

